*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* 1 */
#main{
    width: 100%;
    height: 80%;
    background-color: 	#191970;
    background-size: cover;
}
nav{
    width: 100%;
    height: 60px;
    background-color: #0004;
    line-height: 60px;
    position: fixed;
}

.kontener{
    padding-left: 50px;
    padding-right: 50px;
}
nav ul{
    float: right;
}
nav ul li:-webkit-scrollbar{
    background-color: oldlace;

}
nav ul li{
    list-style-type: none;
    display: inline-block;
    transition: .5s;
    border-radius: 10px;
}
nav ul li:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,  0 0 25px #03e9f4,  0 0 50px #03e9f4,  0 0 200px #03e9f4 ;
    border-radius: 10px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 30px;
}
img{
    width: 200px;
    height: 60px;
    line-height: 80px;
    margin-left: 30px;
}
.jumbotron{
    padding: 100px;
    text-align: center;
    color: white;
}

h1{
    position: relative;
    margin-top: 100px;
    margin-bottom: 30px;

}
#wow{
    top: 0;
    padding: 0;
    height: 480px;
    width: 100%;
    background-color: aqua;
}
h3{
    margin-top: 20px;
}
button{
    margin-top: 30px;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    border: none;
}
button:hover{
    background-color: orangered;
    
}
.ya a{
    margin-right: -2px;
    text-decoration: none;
}
.tidak a{
    margin-left: -2px;
    text-decoration: none;
}

/* 2 */
.card{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #060c21;
    font-family: sans-serif;
}
.container{
    position: relative;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-template-rows: auto;
    grid-gap: 0 40px;
}
.container .box{
    position: relative;
    height: 400px;
    background: #060c21;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
}
.container .box::before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right:-2px;
    bottom: -2px;
    background: #fff;
    transform: skew(2deg,2deg);
    z-index: -1;
}
.content{
    position: relative;
    padding: 20px;
}
.box .content h2{
    position: absolute;
    top: -60px;
    right: 20px;
    margin: 0;
    padding: 0;
    font-size: 10em;
    color: rgba(255, 255, 255,.05);
    transition: 0.5s;
}
.box:hover .content h2{
    top: -125px;
}
.box .content h3{
    margin: 0 0 10px;
    padding: 0;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}
.box .content p{
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 16px;
}
.box .content a{
    position: relative;
    margin: 20px 0 0;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #fff;
    display: inline-block;
    color: #fff;
    transition: 0.5s;
    transform: translateY(-40px);
    opacity: 0;
    visibility: hidden;
}
.box:hover .content a{
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
}
.box .content a:hover{
    color: #000;
    background: #fff;
}




